@font-face { font-family: Digital; src: url('Fonts/digital-7.ttf'); }  /*imported font */
@font-face { font-family: DigiGraph; src: url('Fonts/01DigiGraphics.ttf'); }  /*imported font */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  border: 2px solid black;
  height: 85vh;
  min-width: 400px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
#displayContainer{
  border: 2px solid blue;
  width: 350px;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: column;
}
#equation, #answer{
  padding: 10px;
  font-family: Digital;
  font-size: 22px;
  font-weight: bold;
}
.clearing{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1em;
}
.clearing button{
  border: none;
  height: 40px;
  width: 150px;
  font-size: 22px;
}
#clear{
  background-color: red;
}
#delete{
  background-color: yellow;
}
.numberButtonsbig{
  display: grid;
  justify-content: center;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows: 65px 65px 65px 65px;
  gap: 10px;
}
.numberButtonsbig button, .clearing button{
  font-family: DigiGraph;
}
button:active{
  transform: translateY(.5px);
}
.numberButtons:active, #deci:active{
  transform: translateY(.5px);
  background-color: orange;
}
@media screen and (max-width: 480px) {
  #container{
    height: 580px;
    width: 500px;
  }
  .numberButtonsbig{
    display: grid;
    justify-content: center;
    grid-template-columns:  70px 70px 70px 70px;
    grid-template-rows: 60px 60px 60px 60px;
    gap: 8px;
  }
}
@media screen and (max-height: 600px) {
  #container{
    height: 580px;
    width: 500px;
  }
  .numberButtonsbig{
    display: grid;
    justify-content: center;
    grid-template-columns:  70px 70px 70px 70px;
    grid-template-rows: 60px 60px 60px 60px;
    gap: 8px;
  }
}
