@font-face { font-family: Digital; src: url('Fonts/digital-7.ttf'); }  /*imported font */
@font-face { font-family: DigiGraph; src: url('Fonts/01DigiGraphics.ttf'); }  /*imported font */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 100vw;
  height: 100vh;
  background-color: rgb(105, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1, h2{
  font-weight: bold;
  padding: 1.5em;
  font-family: Digital;
  font-size: 32px;
}
h2{
  margin-bottom: 5vh;
}
h1{
  margin-top: 5vh;
}
#container{
  background-color: rgb(128, 128, 128);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2%;
  height: 550px;
  min-width: 400px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;
  justify-content: center;
  padding: 1em;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
}
#displayContainer{
  border: 4px solid rgb(0, 0, 0);
  background-color: green;
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 10px;
}
#equation, #answer{
  padding: 20px;
  font-family: Digital;
  font-size: 27px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.clearing{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1em;
}
.clearing button{
  border: 2px solid black;
  height: 40px;
  width: 150px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
}
#clear{
  background-color: red;
}
#delete{
  background-color: yellow;
}
.numberButtonsbig{
  display: grid;
  justify-content: center;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows: 65px 65px 65px 65px;
  gap: 10px;
}
.operatorButtons{
  background-color: rgb(0, 144, 155);
}
#eq{
  background-color: rgb(128, 0, 96);
}
.numberButtonsbig button{
  border: 2px solid black;
  border-radius: 10%;
  font-size: 18px;
}
.clearing button{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
}
.numberButtonsbig button{
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}
button:active{
  transform: translateY(1px);
}
.numberButtons:active, #deci:active{
  transform: translateY(.5px);
  background-color: orange;
  border: 2px solid white;
}
.operatorButtons:active{
  transform: translateY(.5px);
  background-color: rgb(59, 182, 253);
  border: 2px solid white;
}
#eq:active{
  transform: translateY(.5px);
  background-color: rgb(233, 19, 187);
  border: 2px solid white;
}
